<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chọn môn học</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Phần lọc -->
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Lọc môn học</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/choose}" method="get">
                        <div class="form-group">
                            <label for="maMonHoc">Nhập mã hoặc tên của môn học</label>
                            <input type="text" class="form-control" id="maMonHoc" name="maMonHoc"
                                   placeholder="Ví dụ BAS1201 hoặc Đại số" th:value="${maMonHoc}">
                        </div>
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div th:if="${message}" class="alert alert-danger text-center">
                [[${message}]]
            </div>
            <!-- Phần hiển thị danh mục các môn học -->
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Danh mục các môn học</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Mã môn học</th>
                            <th>Tên môn học</th>
                            <th>Số tín chỉ</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Dữ liệu danh sách môn học -->
                        <tr th:each="monhoc : ${listMonHoc}">
                            <td th:text="${monhoc.id}"></td>
                            <td th:text="${monhoc.ten}"></td>
                            <td th:text="${monhoc.soTinChi}"></td>
                            <td>
                                <a class="h4 mr-3" th:href="@{'/choose/'+${monhoc.id}}">chọn</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var alertElement = $(".alert");
        if (alertElement.length > 0) {
            var currentText = alertElement.text();
            setTimeout(function () {
                alertElement.text("").hide();
            }, 2000);
        }
    });
</script>
</body>
</html>