<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Đăng kí tín chỉ</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            .button-container {
                display: flex;
                justify-content: space-between;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="text-center">Đăng kí tín chỉ</h2>
                    <form th:action="@{/luuDangKi}" method="post">
                        <div class="form-group">
                            <label >Tên sinh viên:</label>
                            <h5 class="card-title mb-4" th:text="${sinhVien.hoTen}"></h5>
                            <!--                    <input type="text" class="form-control" id="txtTenSV" placeholder="Nhập tên sinh viên">-->
                        </div>
                        <div class="form-group">
                            <label >Mã sinh viên:</label>
                            <h5 class="card-title mb-4" th:text="${sinhVien.maSinhVien}"></h5>
                            <!--                    <input type="text" class="form-control" id="txtMaSV" placeholder="Nhập mã sinh viên">-->
                        </div>

                        <div class="form-group">
                            <label >Các lớp đã đăng ký</label>
                            <!--                    <input type="text" class="form-control" id="txtLop2" placeholder="Nhập lớp 2">-->
                            <div  style="float: right;">
                                <label class="card-title mb-4" th:text="'Số tín chỉ đã đăng kí: '+${stc}"></label>
                            </div>
                        </div>
                        <div th:if="${message}" class="alert alert-danger text-center">
                            [[${message}]]
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã MH</th>
                                    <th>Tên MH</th>
                                    <th>Nhóm MH</th>
                                    <th>STC</th>
                                    <th>Trạng thái</th>
                                    <!--<th>Sửa</th>-->
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Dữ liệu bảng-->
                                <!--                    đoạn này ô tạo đẩy dữ liệu giống bên file choose_a_subject nhé.-->
                                <tr th:each="dangKiHoc : ${listDangKiHocMoi}">
                                    <td th:text="${dangKiHoc.lopHocPhan.monHoc.id}"></td>
                                    <td th:text="${dangKiHoc.lopHocPhan.monHoc.ten}"></td>
                                    <td th:text="${dangKiHoc.lopHocPhan.nhomMonHoc}"></td>
                                    <td th:text="${dangKiHoc.lopHocPhan.monHoc.soTinChi}"></td>
                                    <td th:if="${dangKiHoc.soLanHoc == 0}">Đã lưu lớp học phần</td>
                                    <td th:if="${dangKiHoc.soLanHoc == -1}">Chưa lưu lớp học phần</td>
                                    <td>
                                        <a class="h4 mr-3" th:href="@{'/xoaDangKi/'+${dangKiHoc.id}}">Xóa</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="input" class="btn btn-success" style=" float: right;margin-left: 20px;">Lưu đăng ký</button>
                    </form>
                    <div class="button-container">
                        <form action="/logout" method="post">
                            <button type="input" class="btn btn-default">Đăng xuất</button>
                        </form>
                        <form action="/choose" method="post">
                            <button type="input" class="btn btn-primary" >Tiếp tục đăng ký</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
